<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/servlet3/">
</head>
<body>

<section>
    <a href="api/ajax?meta=ajax_type">发送非AJAX请求</a><br/>
</section>

<section id="ajax-sec">
    <a id="send-ajax-a" href="javascript:">发送AJAX请求</a><br/>
</section>

<script src="view/jquery321/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(() => {
        $("#send-ajax-a").click(() => {
            $.ajax({
                "url": "/servlet3/api/ajax",
                "type": "post",
                "data": {"meta": "ajax_type"},
                "success": response => {
                    $("#ajax-sec").append(response);
                }
            });
        });
    });

</script>
</body>
</html>